@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom switch styles */
.ant-switch .ant-switch-inner {
  border-width: 2px;
  border-color: #D4CCF7;
}

.ant-switch .ant-switch-handle::before {
  background-color: #6B47ED;
}

.ant-switch-checked .ant-switch-handle::before {
  background-color: #FFFFFF;
}

.ant-switch-checked .ant-switch-inner {
  background-color: #6B47ED;
}


/* custom radio styles */
.ant-radio-wrapper {
  color: #979797;
}

.ant-radio .ant-radio-inner {
  border-radius: 50%;
  border-width: 1px;
  border-color: #6B47ED;
}

/* disabled */
.ant-radio-wrapper-disabled .ant-radio .ant-radio-inner  {
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-radius: 50%;
}

.ant-radio-wrapper-checked {
  color: #000000;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #6B47ED;
  border-color: #6B47ED;
  border-radius: 50%;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  visibility: hidden;
}

/* disabled */
.ant-radio-wrapper-disabled .ant-radio-checked{
  color: #000000;
}

.ant-radio-wrapper-disabled .ant-radio-checked .ant-radio-inner  {
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  border-radius: 50%;
}


/* custom checkbox styles */
.ant-checkbox-wrapper {
  color: #979797;
}

.ant-checkbox .ant-checkbox-inner {
  border-radius: 50%;
  border-width: 1px;
  border-color: #6B47ED;
}

/* disabled */
.ant-checkbox-wrapper-disabled .ant-checkbox .ant-checkbox-inner  {
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-radius: 50%;
}

.ant-checkbox-wrapper-checked {
  color: #000000;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6B47ED;
  border-color: #6B47ED;
  border-radius: 50%;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  visibility: hidden;
}

/* disabled */
.ant-checkbox-wrapper-disabled .ant-checkbox-checked{
  color: #000000;
}

.ant-checkbox-wrapper-disabled .ant-checkbox-checked .ant-checkbox-inner  {
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  border-radius: 50%;
}


/* custom button styles */
.ant-btn {
  width: 200px;
  height: 60px;
  background-color: #6B47ED;
  font-size: 18px;
}

.ant-btn:disabled {
  background-color: #D4CCF7;
  color: #FFFFFF;
}

